body {
  background-color: #F8F4EC;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

img{
  border-radius: 15%;
}

.container{
  width: 80%;
  display:flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  justify-content: center;
}



h1{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:50px;
  text-align: center;
  margin: 20px;
}

h1 > img{
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

h2, h3{
  font-size:30px;
  margin:0;
}

.RSP_image{
  width: 150px;
  height: 150px;
}

.selector{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

button{
  border:none;
  padding:0;
  background: none;
  margin: 20px;
}

.reset{
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  height: 50px;
  width: 90px;
  font-size: 20px;
  transition: background-color 0.3s ease;
  background-color: #3498db;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
/* Score Board */
.score{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board{
  border: 5px solid black;
  width: 40%; 
  text-align: center;
  padding:0;
  margin-top:20px;
  margin-bottom: 0;
}

.score_image{
  width:200px;
  height: 200px;
}

.choice{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0px;
}

.choice .player{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:25%;
  margin-top:10px;
}

.choice .computer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:25%;
  margin-top:10px;
}

.score .text{
  font-size: 25px;
}

.choice p{
  font-size: 25px;
}

.result{
  margin-bottom: 30px;
  margin-top:0;
}

footer{
  text-align: center;
}

.hidden{
  display:none;
}

#hidden_img > img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:500px;
  height:500px;
  z-index: 9999; 
}